<!--<div class="panel panel-default">-->
    <!--<div class="panel-heading">Categories</div>-->
    <!--<div class="panel-body">-->
        <!--<div class="row posts" th:each="category : ${categories}">-->

            <!--<span style="margin: 1px;" th:text="${category.title}"></span><br/>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<footer class="page-footer">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col l6 s12">-->
                <!--<h5 class="white-text">Footer Content</h5>-->
                <!--<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>-->
            <!--</div>-->
            <!--<div class="col l4 offset-l2 s12">-->
                <!--<h5 class="white-text">Links</h5>-->
                <!--<ul th:each="category : ${categories}">-->
                    <!--<li><a class="grey-text text-lighten-3" href="#!" th:text="${category.title}"></a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="footer-copyright">-->
        <!--<div class="container">-->
            <!--© 2014 Copyright Text-->
            <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->