<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
        .main_content {
            margin-left: 10%;
            margin-right: 10%;
        }
        .posts {
        }
    </style>

    <title>PiBy Blog</title>
</head>
<body class="main_content">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        </div>
    </nav>

    <div style="margin-top: 10%">
        <!--All Posts-->
        <div class="row posts" th:each="post : ${posts}">
            <div class="col-md-12" >
                <a th:href="@{'/api/posts/' + ${post.id}}">
                    <span style="font-size: 24px;" th:text="${'Title: ' + post.title}"></span>
                </a>
            </div>
            <div style="font-size: 18px;" th:text="${'Author: ' +post.user.name}"></div>
            <span style="font-size: 12px;" th:text="${'@' + post.user.username}"></span>
            <div class="col-md-12" style="font-size: 14px; margin-top: 5%;" th:text="${post.text}"></div>
            <hr/>
        </div>

    </div>

</body>
</html>