<form method="post" enctype="multipart/form-data" action="/api/posts">
    <p>Title: <input type="text" name="title" /></p>
    <p>Text: <textarea type="text-area" rows="20" cols="40" name="text"/></p>
    <p>
        <select id="posts" name="user">
            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
        </select>
    </p>
    <p>
        <!--<select id="categories" name="category">-->
        <!--<option th:each="category : ${categories}" th:value="${category}" th:text="${category.id}"></option>-->
        <!--</select>-->
    </p>
    <p><input type="submit" value="Confirm" /></p>
</form>
