<div class="row posts" th:each="post : ${posts}">

    <div>
        <a th:href="@{'/api/posts/' + ${post.id}}">
            <span style="font-size: 24px;" th:text="${'Title: ' + post.title}"></span>
        </a>
    </div>

    <div style="font-size: 18px;" th:text="${'Author: ' +post.user.name}"></div>

    <a target="_blank" th:href="@{'/select/users/' + ${post.user.id}}">
        <span style="font-size: 12px;" th:text="${'@' + post.user.username}"></span>
    </a>

    <div style="font-size: 14px;" th:text="${post.text}"></div>
    <hr/>
</div>